<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to "docs" to index.php
    RewriteRule ^/?docs index.php [L]

    # Redirect another requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
